.body{
  padding: 50px 70px 0px;
}
.container{
  background:#0f0b2d;
  padding: 50px;
  border-radius:40px;
  color:white;
}


.promptFilter{
  display:flex;
  justify-content:center;
  align-items:center;
  gap:28px;
  margin-bottom:50px;
  flex-wrap:wrap;
}

.filterItem{
  display:flex;
  align-items:center;
  gap:8px;

  font-size:15px;
  cursor:pointer;

  opacity:0.8;
  transition:0.25s;
  padding:10px 18px;   
  border-radius:30px;
}

.filterItem:hover{
  opacity:1;
}
.active{
  background:#1a1740;
  padding:10px 18px;
  border-radius:30px;
  opacity:1;
}

.cardContainer{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(480px, 1fr));
  gap:35px;
}

.card{
  width: 100%;
  cursor:pointer;
  transition:0.35s;
  text-decoration:none;  
  color:inherit; 
}

.image{
  width: 100%;
  aspect-ratio: 1/1; 
  border-radius:18px;
  overflow:hidden;
  position:relative;
  background-size:cover;
  background-position:center;
  transition:0.35s;
}
.card:hover .image{
 transform:translateY(-8px);
 box-shadow:0 25px 60px rgba(0,0,0,0.35);
}
.dot{
  width:10px;
  height:10px;
  border-radius:50%;
}

.tag{
  position:absolute;
  top:15px;
  right:15px;
  display:flex;
  align-items:center;
  gap:8px;

  background:#141038;
  padding:6px 14px;
  border-radius:20px;
  font-size:13px;
}


.title{
  margin-top:14px;
  font-size:16px;
  opacity:0.9;
}
.load{
  display: flex;
  justify-content: center;
  padding: 20px 0 0 0px;
}
.loadbtn{
 background-color:   #ff4d8d;
 padding: 16px 20px;
  border:none;
  border-radius:30px;
  color:white;
  font-weight:600;
  cursor:pointer;
  transition:0.3s;
  margin:0 auto;
}
.loadbtn:hover{
    transform:translateY(-2px);
     box-shadow:0 10px 20px rgba(255,100,150,0.4);
}

@media (max-width: 1024px) {
  .body {
    padding: 40px 30px 0;
  }

  .container {
    padding: 40px;
  }
}

@media (max-width: 768px) {
  .body {
    padding: 30px 20px 0;
  }

  .container {
    padding: 25px;
    border-radius: 25px;
  }

  .promptFilter {
    gap: 12px;
  }

  .filterItem {
    font-size: 13px;
    padding: 8px 14px;
  }
}
@media (max-width: 540px) {
  .container {
    padding: 20px;
  }
  .cardContainer {
    grid-template-columns: 1fr; 
  }
  .title {
    font-size: 14px;
  }

  .loadbtn {
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 480px) {
  .container {
    padding: 20px;
  }
  .cardContainer {
    grid-template-columns: 1fr; 
  }
  .title {
    font-size: 14px;
  }

  .loadbtn {
    width: 100%;
    text-align: center;
  }
}